MONGO_URI=mongodb+srv://bossjansan1234_db_user:J200026403150@jansan.ju5izqp.mongodb.net/?appName=Jansan
JWT_SECRET=replace_with_a_strong_secret
FRONTEND_URL=http://localhost:5173
EMAIL_SERVICE=gmail
EMAIL_FROM="Jansan Ecommerce bossjansan1234@gmail.com"
EMAIL_USER=bossjansan1234@gmail.com
EMAIL_PASS=efwp ggem gxdk zkqz
PORT=3003
GOOGLE_CLIENT_ID=your_google_client_id_here
CLIENT_URL=http://localhost:5173
GEMINI_API_KEY=AIzaSyCrHAooHsHI03nQbyKdKvP1GAqRit5xAbM

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=pk_test_51STPCD2Eg5btMSJ6igiY8D2qASNWgWid7ggNOXIioqM1Q2Q6C2AkhfkctaymWK6N6LtICmsd83z5KWzimIofsep600sNfMFA1z
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
